infrastructure/state-machines/KyleFinleyNet-WebSockets-SendMessage.asl.json
{
  "StartAt": "GetConnectionInvocation",
  "States": {
    "GetConnectionInvocation": {
      "Next": "Has ConnectionId?",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "OutputPath": "$.Payload",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:146665891952:function:KyleFinleyNet-Infrastructure-GetConnection",
        "Payload.$": "$"
      }
    },
    "Has ConnectionId?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.connectionId",
          "StringEquals": "",
          "Next": "Fail"
        }
      ],
      "Default": "SendMessageInvocation"
    },
    "SendMessageInvocation": {
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:146665891952:function:KyleFinleyNet-Infrastructure-SendMessage",
        "Payload.$": "$"
      }
    },
    "Fail": {
      "Type": "Fail",
      "Error": "No ConnectionId Found"
    }
  }
}
